.column {
float:left;
}

.left,.right {
width:25%;
}

.center {
width:50%;
}

.row:after {
content:"";
display:table;
clear:both;
}

p {
color:green;
}

#navbar {
background-color:#F65959;
border:2px solid #000;
padding:0px;
}

ul {
list-style-type:none;
width:100%;
margin:0;
padding:0;
}

#navbarright {
right:0;
}

li a {
display:block;
}

li {
float:left;
display:inline;
padding:0px;
}

.main_head {
text-align:center;
}

.formbox {
	display: box;
	border: 10px;
	border-radius: 3px;
	background-color: #e0e0eb;
	border-style: solid;
	border-color: #00cc00;
	margin: 10px;
	padding: 10px;
}

.formtable {
	margin-left: auto;
	margin-right: auto;
}

.loginbutton {
	float: right;
}

body {
margin-left:0!important;
margin-right:0!important;
margin-bottom:0!important;
background-color: #a3a3c2;
display: flex;
flex-direction: column;
}

.centered {
	text-align: center;
}

.box_description {
	width: 400px;
	box-sizing: border-box;
	height:300px;
	resize: none;
}

.boxinput_edit {
	width: 400px;
	box-sizing: border-box;
	height: 300px;
}

.boxinput_post {
	width: 600px;
	height: 100px;
	box-sizing: border-box;
}

.footer {
	width: 100%;
	color: pink;
	text-align: center;
	background-color: blue;
	flex-shrink: 0;
}

.navbutton {
	border-style: none;
	border-color: black;
	padding: 5px;
	background-color: #ff4d4d;
	text-align: center;
	text-decoration: none;
}

.navbutton:hover {
	background-color: #00cc00;
}
html, body {
  height: 100%;
}
.content {
  flex: 1 0 auto;
}

.foot {
	margin: 0;
}
