.postbox {
	display: block;
	border: 3px;
	border-radius: 10px;
	border-color: #0a0a10;
	border-style: solid;
	background-color: #e0e0eb;
	margin: 10px;
}

.post_td {
	padding: 0;
}

.top_row {
	vertical-align: top;
	position: relative;
	top: 0px;
}

.button_del_form {
	float: right;
}

.button_del {
	border: none;
	background-color: #ffffff;
	color: black;
	padding: 1px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

.button_del:hover {
	background-color: #ff4d4d;
}