<div class="postbox">
	<table width="100%">
		<tbody class="top_row">
			<tr class="top_row">
				<td class="post_td">
					<a href="{% url 'profile' username=post.author.username %}">  <!-- we create a link to the users profile and then we set the username variable to be equal to post.author.username -->
						{{ post.author.username }}                                   <!-- the translated username is a link to the profile -->	
					</a>
				</td>
				<td class="post_td">
					{% if post.author.username == request.user.username %}
						<form action="{% url 'dummy' %}" method="post" class="button_del_form">
							{% csrf_token %}
							<input hidden class="form-control" name="oin"   value="{{ post.pk }}">
							<input hidden class="form-control" name="oiy"   value='{{ post.content }}'>
							<input type="submit" id="{{ post.pk }}" name="delete" value="X" class="button_del">
						</form>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td class="post_td">
					{{ post.content }}
				</td>
			</tr>
		</tbody>
	</table>
</div>