<!DOCTYPE html>
<html>
{% load static %} <!-- loads the content of the static folder. -->
 <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'post.css' %}">
<head>
	{% block title %} <!-- this block displays (title variable here) - Portfolio if there is a title variable set when the html page containing this block is called. -->
	{% endblock %}
	{% block navbar %}
		<div id="navbar" class="row">
			<ul>
				<li><a href="{% url 'index' %}" class="navbutton">Index</a></li>
			</ul>
			<ul id="navbarright">
				{% if request.user.is_authenticated %}
				<li><a href="{% url 'SignOut' %}" class="navbutton">Sign Out</a></li>
				<li><a href="{% url 'profile' request.user.username %}" class="navbutton">Profile</a></li>
				<li><a href="{% url 'dummy' %}" class="navbutton">Dummy</a></li>
				{% else %}
				<li><a href="{% url 'SignIn' %}" class="navbutton">Sign In</a></li>
				<li><a href="{% url 'SignIn2' %}" class="navbutton">Google Sign in</a></li>
				{% endif %}
			</ul>
		</div>
	{% endblock %}
</head>
<body>
<div class="content">
	<div class="row">
		<div class="column left">
			{% block left %}
			<p></p>
			{% endblock %}
		</div>
		<div class="column center">
			{% block content %}
			{% endblock %}
		</div>
		<div class="column right">
			{% block right %}
			<p></p>
			{% endblock %}
		</div>
	</div>
</div>
	<footer class="footer"><p class="foot">Memes</p></footer>
</body>
</html>
