{% extends "main/base.html" %}
{% block title %}
	<h1 class="main_head">Post your comments below!</h1>
{% endblock %}
{% block content %}
	<p>(This page is only temporary as there are no actual projects to show off yet.)</p>
	<form method="post" id="EditForm">
		{% csrf_token %}
		<table class="table formtable">
			<tr>
				<td><textarea id="id_post" name="post" placeholder="Comment..." class="boxinput_post"></textarea></td>
			</tr>
			<tr>
				<td><input type="submit" value="Comment"></td>
			</tr>
		</table>
	</form>
	{% for post in posts %}
		{% include 'main/_post.html' %}
	{% endfor %}
	
	<div class="pagination">
		<span class="step-links">
			{% if posts.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ posts.previous_page_number }}">previous</a>
			{% endif %}
			
			<span class="current">
				page {{ posts.number }} of {{ posts.paginator.num_pages }}.
			</span>
			
			{% if posts.has_next %}
				<a href="?page={{ posts.next_page_number }}">next</a>
				<a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
{% endblock %}