{% extends "main/base.html" %}
{% block title %}
	<h1 class="main_head">PORTFOLIO</h1>
{% endblock %}
{% block content %}
	{% if login %}
		<p name="login">YOU HAVE LOGGED IN</p>
		<br>
	{% endif %}
	<p> THIS WOKRS! </p>
{% endblock %}