<html>
	<head>
		<h1>This is an email sent by my application using a template.</h1>
	
	
	</head>
	<body>
	<p>Please click <a href="localhost:8000/main/auth/recovered/{{ link }}">here<a/> to be redirected.</p>
	
	
	</body>
</html>