{% extends "main/base.html" %}
{% block title %}
	<h1 class="main_head">Edit your Description!</h1>
{% endblock %}
{% block content %}
	<form method="post" id="EditForm">
		{% csrf_token %}
		<table class="table formtable">
			<tr>
				<td><textarea id="id_edit" name="edit" placeholder="Put your description here!" class="boxinput_edit">{{ currentdescription }}</textarea></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"></td>
			</tr>
		</table>
	</form>
{% endblock %}