{% extends "main/base.html" %}
{% block title %}
	{% if request.user.username == username %}
		<h1 class="main_head"> Welcome to your profile {{ username }}! </h1>
	{% else %}
		<h1 class="main_head"> Welcome to the profile of {{ username }} </h1>
	{% endif %}
{% endblock %}
{% block content %}
	<table class="table formtable">
		{% if request.user.username == username %}
			{% if userdescription %}
				<tr>
					<td class="centered"><a href="{% url 'profile_edit' %}">Edit your description!</a></td>
				</tr>
			{% else %}
				<tr>
					<td class="centered"><a href="{% url 'profile_edit' %}">Create a description for your profile!</a></td>
				</tr>
			{% endif %}
		{% endif %}
		{% if userdescription %}
				<tr>
					<td><p>About this user:</p></td>
				</tr>
				<tr>
					<td><textarea readonly class="box_description">{{ userdescription }}</textarea></td>
				</tr>
		{% endif %}
	</table>	
{% endblock %}