{% extends "main/base.html" %}
{% block title %}
	<h1 class="main_head">PASSWORD RECOVERY</h1>
{% endblock %}
{% block content %}
	{% if sent %}
	<h1>An email has been sent.</h1>
	<br>
	<p>If an email does not appear within 10 seconds please check your spam folder</p>
	<br>
	<p>Failing that, check that you posted the correct email address.<p>
	{% else %}
	<div class="formbox">
		<form action="{% url 'recovery' %}" method="post">
			{% csrf_token %}
			<table class="table formtable">
				<tr>
					<td><label for="id_email">Enter your email:</label></td>
					<td><input id="id_email" name="email" type="email" class="form-control"></td>
				</tr>
				<tr>
					<td><input type="submit" value="Submit"></td>
				</tr>
			</table>
		</form>
	</div>
	{% endif %}
	{% if nosend %}
	<p>That email is not registered.<p>
	{% endif %}
{% endblock %}