{% extends "main/base.html" %}
{% block title %}
	<h1 class="main_head">PASSWORD RECOVERY</h1>
{% endblock %}
{% block content %}
{% if change %}
	<h1>Your password has been changed!</h1>
	<br>
	<p>Click <a href="{% url 'SignIn' %}">here</a> to log in.</p>
	
{% else %}
	<div class="formbox">
		<form method="post" id="RecoveryForm2">
			{% csrf_token %}
			<table class="table formtable">
				<tr>
					<td><label for="id_password1">Enter your new password:</label></td>
					<td><input id="id_password1" name="password1" type="password" class="form-control"></td>
				</tr>
				<tr>
					<td><label for="id_password2">Confirm password:</label></td>
					<td><input id="id_password2" name="password2" type="password" class="form-control"></td>
				</tr>
				<tr>
					<td><input type="submit" value="submit"></td>
				</tr>
			</table>
		</form>
	</div>
{% endif %}
{% if error %}
	<p id="red">The passwords do not match.</p>
{% endif %}
{% endblock %}