{% extends "main/base.html" %}
	{% block title %}
		<h1 class="main_head">REGISTRATION</h1>
	{% endblock %}
	{% block content %}
		{% if registered %}
			<h1>You are now registered! click <a href="{% url 'SignIn' %}">here</a> to Sign in to your new account.</h1>
		{% else %}
			<h1 class="main_head"> Register your account! </h1>
			<br><br>
			<div class="formbox">
				<form action="{% url 'register' %}" method="post" id="RegisterForm">
					{% csrf_token %}
					<table class="table formtable">
						<tr>
							<td><label for="id_username">Username:</label></td>
							<td><input id="id_username" name="username" type="text" class="form-control"></td>
						</tr>
						<tr>
							<td><label for="id_password">Password:</label></td>
							<td><input id="id_password"  name="password" type="password" class="form-control"></td>
						</tr>
						<tr>
							<td><label for="id_password2">Confirm Password:</label></td>
							<td><input id="id_password2" name="password2" type="password" class="form-control"></td>
						</tr>
						<tr>
							<td><label for="id_email">Email:</label></td>
							<td><input id="id_email" name="email" type="email" class="form-control"></td>
						</tr>
						<tr>
							<td><input type="submit" value="Submit"></td>
						</tr>
					</table>
				</form>
			</div>
		{% if invalid %}
			<p>That username is invalid.</p>
		{% endif %}
		{% if taken %}
			<p>That username is taken.</p>
		{% endif %}
		{% if etaken %}
			<p>That email is already registered.</p>
		{% endif %}
		{% endif %}
	{% endblock %}