{% extends "main/base.html" %}
	{% block title %}
		<h1 class="main_head">LOGIN</h1>
	{% endblock %}
	{% block content %}
		<div class="formbox">
			<form action="{% url 'SignIn' %}" method="post" id="UsernameForm">
				{% csrf_token %}
				<table class="table formtable">
					<tr>
						<td><label for="id_username">Username:</label></td>
						<td><input id="id_username" name="username" type="text" class="form-control"></td>
					</tr>
					<tr>
						<td><label for="id_password">Password:</label></td>
						<td><input id="id_password"  name="password" type="password" class="form-control"></td>
					</tr>
					<tr>
						<td><input type="submit" value="Submit"></td>
					</tr>
				</table>
				<p>New user? click <a href="{% url 'register' %}">here</a></p>
				<p>Forgot your password? click <a href="{% url 'recovery' %}">here</a></p>
			</form>
			{% if invalid %}
				<p>Invalid username or password.</p>
			{% endif %}
		</div>
	{% endblock %}